<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="exceptions" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="D:/C# PROJEKTY/ASP.NET CORE - REST API/RestaurantAPI/logs/allExceptions.txt"
        keepFileOpen="true"
        encoding="utf-8" />
    <target name="request_time" xsi:type="File"
       layout="${longdate} ${logger} ${message}${exception:format=ToString}"
       fileName="D:/C# PROJEKTY/ASP.NET CORE - REST API/RestaurantAPI/logs/request-time.log"
       keepFileOpen="true"
       encoding="utf-8" />
  </targets>
  

  <rules>
    <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Warn" writeTo="request_time" />
  </rules>
</nlog>